@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<p>
    Você Não Tem Permissão para acessar Essa pagina, <a asp-controller="Home" asp-action="index"> Clique aqui para voltar para o Inicio.</a>
</p>