@model ChamadosModel


@{
    ViewData["Title"] = "CRIAR CHAMADO";
}




    <div class="container mt-3 me-5">
        <div class="">

            <form class="form-horizontal" role="form" asp-controller="Chamados" asp-action="CriarChamado" method="post">
                <h2>Abrir Chamado</h2>

                <div class="form-group">
                    <label for="Titulo" class="col-sm-3 control-label">Titulo</label>
                    <div class="col-sm-9">
                    <input type="text" asp-for="Titulo" placeholder="Titulo Chamado" class="form-control" autofocus>
                    </div>
                </div>

            <div class="form-group">
                <label for="Titulo" class="col-sm-3 control-label">DESCRIÇÃO</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="Texto" placeholder="Escreva seu problema" class="form-control" autofocus>
                </div>
            </div>

                <div class="form-group mt-3">
                    <label for="Categoria" class="col-sm-3 control-label">CATEGORIA</label>
                    <div class="col-sm-9">
                    <select class="form-select" asp-for="Categoria" aria-label="Default select example">
                            <option selected>Selecione</option>
                            <option value="1">Problema de Rede</option>
                            <option value="2">Erro no Sistema</option>
                            <option value="3">Acesso Negado</option>
                            <option value="4">Solicitação de Equipamento</option>
                            <option value="5">Solicitação de Software</option>
                        </select>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <label for="Prioridade" class="col-sm-3 control-label">PRIORIDADE</label>
                    <div class="col-sm-9">
                    <select class="form-select" asp-for="Prioridade" aria-label="Default select example">
                            <option selected>Selecione</option>
                            <option value="1">Baixa</option>
                            <option value="2">Media</option>
                            <option value="3">Alta</option>
                        </select>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <label for="Usuario" class="col-sm-3 control-label">USUÁRIO</label>
                    <div class="col-sm-9">
                    <select class="form-select" asp-for="Usuario" aria-label="Default select example">
                            <option selected>Selecione</option>
                            <option value="1">Gabriel</option>
                            <option value="2">Ivanildo</option>
                            <option value="3">Isabelle</option>
                    </select>
                    </div>
                </div>

                <div class="text-center mt-4 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Abrir Chamado</button>
                </div>
                <div class="text-center mt-2 col-sm-9">
                    <a class="btn btn-danger" asp-controller="Chamados" asp-action="index"> Cancelar </a>
                </div>

            </form> <!-- /form -->
        </div> <!-- ./container -->

    </div>
