@model UsuariosModel

@{
    ViewData["Title"] = "INATIVAR USUARIO";
}

@* MODAL INATIVAR USUARIO*@
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">INATIVAR USUARIO?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja Inativar o Usuario: @Model.Nome </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" asp-asp-controller="Usuarios" asp-action="InativarUsuario">Inativar</a>
                <a type="button" class="btn btn-secondary btn-lg" asp-asp-controller="Usuarios" asp-action="index"> Cancelar </a>
            </div>
        </div>
    </div>
</div> *@